<form #form="ngForm" (submit)="onSubmit()" id="registration">
  <!-- Specialization select -->
  <div class="form-group mb-4">
    <label for="specializationSelect">{{ 'FORM.HOSPITAL' | translate }}</label>
    <select #companyId="ngModel"
            name="companyId"
            [(ngModel)]="registrationData.companyId"
            id="specializationSelect"
            class="form-control"
            required>
      <option value="" disabled selected>{{ 'FORM.HOSPITAL_CHOOSE' | translate }}</option>
      <option *ngFor="let company of companies;" value="{{ company.companyId }}">{{ company.companyName }}</option>
    </select>
    <div *ngIf="companyId.invalid && companyId.touched" class="text-danger">{{ 'FORM.HOSPITAL_ERROR' | translate }}</div>
  </div>

  <div class="form-group mb-4">
    <label for="specializationSelect1">{{ 'FORM.BLOOD_T' | translate }}</label>
    <select #bTypeId="ngModel"
            name="bTypeId"
            [(ngModel)]="registrationData.bTypeId"
            id="specializationSelect1"
            class="form-control"
            required>
      <option value="" disabled selected>{{ 'FORM.BLOOD_T_CHOOSE' | translate }}</option>
      <option *ngFor="let bt of bloodTypes;" value="{{ bt.bloodTypeId }}">{{ bt.typeName }}</option>
    </select>
  </div>

  <!-- Name input -->
  <div class="form-group mb-4">
    <label for="nameInput">{{ 'FORM.NAME' | translate }}</label>
    <input #name="ngModel"
           name="name"
           [(ngModel)]="registrationData.name"
           type="text"
           id="nameInput"
           class="form-control"
           required />
    <div *ngIf="name.invalid && name.touched" class="text-danger">{{ 'FORM.ENTER_NAME' | translate }}</div>
  </div>

  <!-- Last Name input -->
  <div class="form-group mb-4">
    <label for="lastNameInput">{{ 'FORM.LAST_NAME' | translate }}</label>
    <input #lastName="ngModel"
           name="lastName"
           [(ngModel)]="registrationData.lastName"
           type="text"
           id="lastNameInput"
           class="form-control"
           required />
    <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">{{ 'FORM.ENTER_LAST_NAME' | translate }}</div>
  </div>

  <!-- Middle Name input -->
  <div class="form-group mb-4">
    <label for="middleNameInput">{{ 'FORM.MIDDLE_NAME' | translate }}</label>
    <input #middleName="ngModel"
           name="middleName"
           [(ngModel)]="registrationData.middleName"
           type="text"
           id="middleNameInput"
           class="form-control" />
  </div>

  <div class="form-group mb-4">
    <label for="specializationSelect2">{{ 'FORM.GENDER' | translate }}</label>
    <select #gender="ngModel"
            name="gender"
            [(ngModel)]="registrationData.gender"
            id="specializationSelect2"
            class="form-control"
            required>
      <option *ngIf="!createView" value="" disabled selected>{{ 'FORM.GENDER_CHOOSE' | translate }}</option>
      <option *ngIf="createView" value="" disabled selected>{{ 'FORM.P_GENDER_CHOOSE' | translate }}</option>
      <option value="F">{{ 'FORM.WOMAN' | translate }}</option>
      <option value="M">{{ 'FORM.MAN' | translate }}</option>
    </select>
  </div>

  <div class="form-group mb-4">
    <label for="middleNameInput1">{{ 'FORM.ADRESS' | translate }}</label>
    <input #address="ngModel"
           name="address"
           [(ngModel)]="registrationData.address"
           type="text"
           id="middleNameInput1"
           class="form-control" />
  </div>

  <div class="form-group mb-4">
    <label for="middleNameInput2">{{ 'FORM.AGE' | translate }}</label>
    <input #age="ngModel"
           name="age"
           [(ngModel)]="registrationData.age"
           type="number"
           id="middleNameInput2"
           class="form-control"
           required
           min="5"
           max="100" />
    <div *ngIf="age.invalid && age.touched" class="text-danger">{{ 'FORM.AGE_ERROR' | translate }}</div>
  </div>

  <div class="form-group mb-4">
    <label for="middleNameInput3">{{ 'FORM.HEIGHT' | translate }}</label>
    <input #height="ngModel"
           name="height"
           [(ngModel)]="registrationData.height"
           type="number"
           id="middleNameInput3"
           class="form-control"
           required
           min="50"
           max="250" />
    <div *ngIf="height.invalid && height.touched" class="text-danger">{{ 'FORM.HEIGHT_ERROR' | translate }}</div>
  </div>

  <!-- Email input -->
  <div class="form-group mb-4">
    <label for="emailInput">{{ 'FORM.EMAIL' | translate }}</label>
    <input #email="ngModel"
           name="email"
           [(ngModel)]="registrationData.email"
           type="email"
           id="emailInput"
           class="form-control"
           required />
    <div *ngIf="email.invalid && email.touched" class="text-danger">{{ 'FORM.ENTER_VALID_EMAIL' | translate }}</div>
  </div>

  <!-- Password input -->
  <div class="form-group mb-4">
    <label for="passwordInput">{{ 'FORM.PASSWORD' | translate }}</label>
    <input #password="ngModel"
           name="password"
           [(ngModel)]="registrationData.password"
           type="password"
           id="passwordInput"
           class="form-control"
           required
           minlength="8" />
    <div *ngIf="password.invalid && password.touched" class="text-danger">{{ 'FORM.PASSWORD_MIN_LENGTH' | translate }}</div>
  </div>

  <!-- Confirm Password input -->
  <div class="form-group mb-4">
    <label for="confirmPasswordInput">{{ 'FORM.CONFIRM_PASSWORD' | translate }}</label>
    <input #confirmPassword="ngModel"
           name="confirmPassword"
           [(ngModel)]="registrationData.confirmPassword"
           type="password"
           id="confirmPasswordInput"
           class="form-control"
           required
           minlength="8" />
    <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-danger">{{ 'FORM.PASSWORD_MIN_LENGTH' | translate }}</div>
    <div *ngIf="registrationData.password !== registrationData.confirmPassword && confirmPassword.touched" class="text-danger">{{ 'FORM.PASSWORDS_NOT_MATCH' | translate }}</div>
  </div>

  <!-- Phone Number input -->
  <div class="form-group mb-4">
    <label for="phoneNumberInput">{{ 'FORM.PHONE_NUMBER' | translate }}</label>
    <input #phoneNumber="ngModel"
           name="phoneNumber"
           [(ngModel)]="registrationData.phoneNumber"
           type="tel"
           id="phoneNumberInput"
           class="form-control" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    <span *ngIf="!createView">{{ 'FORM.REGISTER' | translate }}</span>
    <span *ngIf="createView">{{ 'FORM.CREATE_DOCTOR' | translate }}</span>
  </button>
</form>
